h1{
    text-align: center;
}
section{
    align-content: center;
}
figure{
    display: inline-block;
}
img{
    width: auto;
    height: 200px;
}
figcaption{
    padding-top: 15px;
    text-align: center;
}
main{
    padding-top: 100px;
    text-align: center;
}