.exitButton{
    text-align: center;
}
button{
    margin: 10px;
}
#player1{
    text-align: center;
}
input{
    width: 120px;
    border: 2px solid green;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    height: 110px;
}
div{
    text-align: center;
}